:root{
  --largura-borda: 3px;
  --line: dashed;
  --color-borda: red;

  --largura: 400px;
  --altura: 200px;
  --padding-texto: 20px;
  --time: 31s;
}

.box--primary {
  width: var(--largura);
  height: var(--altura);
  margin: 10px auto;
  overflow: hidden;
  position: relative;
}

.text--content{
  padding: var(--padding-texto)
}

.border--top--bottom:after {
  content: '';
  border-top: var(--largura-borda) var(--line) var(--color-borda);
  position: absolute;
  top: 0;
  left: 0;
  width:600%;
  height:100%;
  animation: top var(--time) linear infinite
}

.border--top--bottom:before {
  content: '';
  border-bottom: var(--largura-borda) var(--line) var(--color-borda);
  position: absolute;
  right: 0;
  bottom: 0;
  width:600%;
  height:100%;
  animation: bottom var(--time) linear infinite
}

.border--left--right:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 600%;
  border-left: var(--largura-borda) var(--line) var(--color-borda);
  animation: left var(--time) linear infinite;
}

.border--left--right:before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 600%;
  border-right: var(--largura-borda) var(--line) var(--color-borda);
  animation: right var(--time) linear infinite
}

@keyframes top {
  0%   {left:-500%;}
  100% {left:0%;}
}

@keyframes bottom {
  0%   {right:-500%;}
  100% {right:0%;}
}

@keyframes left {
  0%   {bottom:-500%;}
  100% {bottom:0%;}
}

@keyframes right {
  0%   {top:-500%;}
  100% {top:0%;}
}